* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: keep-all;
}

body { 
	-ms-overflow-style: none; 
} 

body::-webkit-scrollbar { 
	display: none; 
} 

.vw {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.home a {
	writing-mode: vertical-rl;
	letter-spacing: 20px;
}

h1, 
h2, 
h3 {
	font-size: 16px;
	font-weight: normal;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}

body {
	display: flex;
	flex-wrap: wrap;
}

@font-face {
  font-family: 'ssmj'; 
  src: url('SM3ssmj.otf');
}

/* ------------------ 홈 ------------------ */

.home section {
	width: calc(100% / 3);
	height: 50svh;
}

.home section {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.brown {
	background-color: #3b2726;
	color: white;
}

.warmgray {
	background-color: #aaa0a2;
	color: white;
}

.black {
	background-color: #000000;
	color: white;
}

.blue {
	background-color: #b0bbc9;
	color: white;
}

.coolgray {
	background-color: #807f89;
	color: white;
}

.lightyellow {
	background-color: #f9f2e6;
	color: black;
}

.lightyellow a {
	color: black;
}

/* ------------------ 소개 ------------------ */

.intro h1 {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 2;
	writing-mode: vertical-rl;
}

.mo {
	position: relative;
	top: -12px;
	right: -26px;
	margin-top: 4px;
	margin-bottom: -28px;
}

.up {
	text-orientation: upright;
}

.open,
.close {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
/*	transform-origin: top left;*/
	color: red;
	border: 1px solid red;
	text-orientation: upright;
}

.open {
	margin-top: 16px;
}

.close {
	margin-top: -2px;
}

.intro h2 {
	margin-left: 8px;
}

.intro h2,
.intro h3 {
	margin-top: 16px;
}

.intro h2,
.intro section,
.intro article {
	color: black;
}

.intro .kr p {
	line-height: 1.5;
}

.intro .kr {
	position: absolute;
/*	border: 1px solid red;*/
	top: 0;
	left: 30%;
	width: 70%;
	height: 100%;
	writing-mode: vertical-rl;
	overflow: auto;
	padding: 5px;
	font-size: 32px;
	overflow-y: hidden;

}

.intro .kr ul {
	padding-top: 32px;
}

.intro .kr li {
	padding: 0 5px 0 5px;
}

.intro .kr article {
	margin-left: 48px;
}

.intro .kr h2,
.intro .kr h3 {
	text-orientation: upright;
	padding-top: 18px;
}

.intro .kr .text {
	padding-top: 32px;
	padding-right: 32px;
}

.intro .en {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
/*	border: 1px solid blue;*/
	overflow: auto;
	padding: 5px;
	overflow-y: visible;
	font-family: helvetica, sans-serif;
	padding-bottom: 32px;
}

.intro .en ul {
	padding-left: 18px;
}

.intro .en article {
	margin-bottom: 16px;
}

.intro .en h2 {
	font-size: 12px;
	padding-left: 10px;
}

.intro .en h3 {
	padding-left: 18px;
}

/* ------------------ 웹사이트 ------------------ */

.website {
	padding: 10px;
}

.website h1 {
	position: fixed;
	right: 10px;
}
.website figure {
	margin-bottom: 40px;
}
.website img {
	width: 150px;
	height: auto;
}

figure {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	margin-right: 24px;
}

figcaption {
	writing-mode: vertical-rl;
	margin-right: 4px;
}

/* ------------------ 토크 ------------------ */

.talk section {
	display: flex;
}

.talk article {
	border: 1px solid white;
	height: 100vh;
	width: 200px;
}

/* ------------------ 토크 ------------------ */

.text li {
	list-style: none;
}

.text .long {
	position: absolute;
	width: 50%;
	height: 100%;
}

.text .long li {
	border-top: 1px solid white;
}

.text .short {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	border: 1px solid white;
	display: flex;
	justify-content: center;
}

.text .short ul {
	display: flex;
	flex-wrap: wrap;
}
.text .short li {
	width: 300px;
	height: 300px;
	border: 1px solid white;
	padding: 10px;
	margin: 10px;
	overflow: auto;
}

@media screen and (max-width: 900px) {

	.home section {
		width: 50%;
		height: calc(100svh / 3 );
	}

/* ------------------ 소개 ------------------ */

.mo {
	position: relative;
	top: -3px;
	right: -2px;
	margin-top: 2px;
	margin-bottom: -22px;
}

.intro .kr {
	top: 0;
	left: 40%;
	width: 60%;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 1px;
}

.intro .kr .text {
  font-size: 32px;
  letter-spacing: 2px;
  padding-top: 0;
}

.intro .kr p {
   line-height: 1.45;
}

.intro .kr article {
	margin-left: 16px;
}

.intro .kr h3 {
	margin-left: 0;
}

.intro .kr li {
	padding: 0 2px 0 2px;
}

.intro .en {
	width: 40%;
}

}