* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: keep-all;
}

h1, 
h2, 
h3 {
	font-size: 16px;
	font-weight: normal;
}

@font-face {
  font-family: 'ssmj'; 
  src: url('SM3ssmj.otf');
}

.vw {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

/* ------------------ 홈 ------------------ */

.home {
	display: flex;
	flex-wrap: wrap;
}

.home section {
	position: relative;
	width: calc(100% / 3);
	height: 50svh;
}

.home a {
	writing-mode: vertical-rl;
	letter-spacing: 20px;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.home h1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home .en {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	writing-mode: horizontal-tb;
	font-family: helvetica, sans-serif;
	letter-spacing: 0;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

.brown {
	background-color: #3b2726;
	color: white;
}

.warmgray {
	background-color: #aaa0a2;
	color: white;
}

.black {
	background-color: #000000;
	color: white;
}

.blue {
	background-color: #b0bbc9;
	color: black;
}

.coolgray {
	background-color: #807f89;
	color: white;
}

.lightyellow {
	background-color: #f9f2e6;
	color: black;
}

.warmgray a {
	color: black;
}

.lightyellow a {
	color: black;
}

.blue a {
	color: black;
}


/* ------------------ 소개 ------------------ */

.intro h1 {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 2;
	writing-mode: vertical-rl;
}

.mo {
	position: relative;
	top: -12px;
	right: -26px;
	margin-top: 4px;
	margin-bottom: -28px;
}

.up {
	text-orientation: upright;
}

.open,
.close {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
/*	transform-origin: top left;*/
	color: red;
	border: 1px solid red;
	text-orientation: upright;
}

.open {
	margin-top: 16px;
}

.close {
	margin-top: -2px;
}

.intro h2 {
	margin-left: 8px;
}

.intro h2,
.intro h3 {
	margin-top: 16px;
}

.intro h2,
.intro section,
.intro article {
	color: black;
}

.intro .kr p {
	line-height: 1.5;
}

.intro .kr {
	position: absolute;
/*	border: 1px solid red;*/
	top: 0;
	left: 30%;
	width: 70%;
	height: 100%;
	writing-mode: vertical-rl;
	overflow: auto;
	padding: 5px;
	font-size: 32px;
	overflow-y: hidden;

}

.intro .kr ul {
	padding-top: 32px;
}

.intro .kr li {
	padding: 0 5px 0 5px;
}

.intro .kr article {
	margin-left: 48px;
}

.intro .kr h2,
.intro .kr h3 {
	text-orientation: upright;
	padding-top: 18px;
}

.intro .kr .text {
	padding-top: 32px;
	padding-right: 32px;
}

.intro .en {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
/*	border: 1px solid blue;*/
	overflow: auto;
	padding: 5px;
	overflow-y: visible;
	font-family: helvetica, sans-serif;
	padding-bottom: 32px;
}

.intro .en ul {
	padding-left: 18px;
}

.intro .en article {
	margin-bottom: 16px;
}

.intro .en h2 {
	font-size: 12px;
	padding-left: 10px;
}

.intro .en h3 {
	padding-left: 18px;
}

/* ------------------ 예술 ------------------ */

.art {
	writing-mode: vertical-rl;
	overflow-y: hidden;
	padding: 10px;
	padding-right: 15px;
}

.art h1 {
	position: fixed;
	top: 42px;
	right: 10px;
}

.art header {
	display: flex;
}

.art h2 {
	position: relative;
	font-size: 32px;
	margin-bottom: 14px;
}

.art article{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.art .capt {
	position: relative;
}

.art figure {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: row;
	writing-mode: vertical-lr;
	margin-right: 16px;
}

.art img {
	height: calc(100% - 40px);
	margin-bottom: 20px;
}

.art .desc {
	display: flex;
	margin-right: 20px;
}

.art .desc .kr {
	line-height: 1.4;
}

.art .en {
	font-family: helvetica, sans-serif;
	font-size: 16px;
}


.art figure::-webkit-scrollbar {
    width: 1px;
}
.art figure::-webkit-scrollbar-track {
    background-color: black;
}
.art figure::-webkit-scrollbar-thumb { 
    background-color: rgba(255, 255, 255, 0.5)
}
.art figure::-webkit-scrollbar-button {
    display: none;
}

.art cite {
	margin-top: -1px;
	padding-bottom: 3px;
}

.art .mo {
	position: relative;
	top: 0px;
	right: -13px;
	margin-top: -5px;
	margin-bottom: -8px;
}

.ccgg .capt {
	display: flex;
	align-items: center;
}

/* ------------------ 웹사이트 ------------------ */

.website {
	writing-mode: vertical-rl;
	overflow-y: hidden;
}

.website h1 {
	position: fixed;
	top: 42px;
	right: 0;
}

.website li a {
	color: white;
	text-decoration: none;
}

.website .kr,
.website .en {
	position: fixed;
}

.website .screen {
	position: absolute;
	writing-mode: vertical-rl;
}

.website .kr,
.website .screen,
.website .en {
	width: 100%;
	left: 0;
}

.website .kr {
	top: 0;
	height: 20%;
	writing-mode: vertical-rl;
}

.website .en {
	writing-mode: horizontal-tb;
}
.website .screen {
	top: 20%;
	height: 65%;
	overflow: auto;
	padding-bottom: 16px;
}

.screen ul {
	display: flex;
}

.screen img {
	width: auto;
	height: 100%;
}

.website .kr li,
.website .screen li,
.website .en li {
	list-style: none;
}

.website .kr li:hover ,
.website figcaption:hover,
.website .en li:hover {
	opacity: 0.5;
	cursor: pointer;
}

.website .kr ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	line-height: 1.5;
	padding: 10px;
}

.website .kr li {
	text-decoration: underline;
}

.website .screen ul {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
}

.website .screen li {
	margin-left: 40px;
}

.website .screen figcaption {
	font-size: 12px;
	padding-right: 6px;
	font-family: helvetica, sans-serif;
}

.website .screen::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}
.website .screen::-webkit-scrollbar-track {
    background-color: #3b2726;
}
.website .screen::-webkit-scrollbar-thumb { 
    background-color: rgba(255, 255, 255, 0.25)
}
.website .screen::-webkit-scrollbar-button {
    display: none;
}

.website .en {
	top: 85%;
	height: 15%;
	display: flex;
	align-items: center;
}

.website .en ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.website .en li {
/*	letter-spacing: 0.5px;*/
	margin-right: 5px;
	margin-left: 5px;
	font-family: helvetica, sans-serif;
}

/* ------------------ 대화 ------------------ */

.talk {
	writing-mode: vertical-rl;
	padding: 10px;
	color: black;
}

.talk h1 {
	position: absolute;
	top: 42px;
}

.talk section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-right: 40px;
}

.talk article {
	display: inline-flex;
	border-right: 2px solid black;
	margin-left: 32px;
	padding-right: 6px;
}

.talk .kr {
	height: 75%;
	font-size: 32px;
	padding-bottom: 16px;
}

.talk .kr h2 {
	margin-top: 32px;
	margin-left: 16px;
}

.talk .kr p {
	text-indent: 28px;
}

.talk .kr cite {
	margin-bottom: 6px;
}

.talk .en {
	height: 25%;
	font-family: helvetica, sans-serif;
}

.talk .en h2 {
	margin-left: 28px;
}

.talk .kr p {
	line-height: 1.5;
}

.ur {
	text-orientation: upright;
}

/* ------------------ 글 ------------------ */

.writing {
	writing-mode: vertical-rl;
	color: black;
}

.writing a {
	color: black;
	text-decoration: none;
}

.writing h1 {
	position: fixed;
	top: 42px;
	right: 10px;
}

.writing li {
	list-style: none;
}

.writing .kr {
	position: absolute;
	top: 0;
	right: 0;
	height: 80svh;
	font-size: 32px;
	overflow-x: auto;
	padding: 10px 40px 10px 10px;
}

.writing .kr li {
	border-right: 2px solid black;
	padding-right: 4px;
	margin-left: 16px;
	display: flex;
	align-items: center;
}

.writing .kr a:hover,
.writing .en a:hover {
	opacity: 0.5;
	cursor: pointer;
}

.writing .title {
	height: calc(100% - 110px);
}

.writing .date {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	text-orientation: upright;
	writing-mode: vertical-rl;
}

.writing .dot {
	margin: -4px -4px;
}

.writing .en {
	position: fixed;
	top: 80svh;
	width: 100%;
	height: 20svh;
	writing-mode: horizontal-tb;
	padding: 10px;
	font-family: helvetica, sans-serif;
	overflow-y: auto;
}

.writing .en li {
	border-top: 2px solid black;
	padding-top: 4px;
	margin-bottom: 4px;
	text-align: center;
}

@media screen and (max-width: 900px) {

	/* ------------------ 홈 모바일 ------------------ */

	.home {
		writing-mode: vertical-rl;
	}

	.home section {
		width: 50vw;
		height: 33.33333svh;
	}

	.home a {
	  font-family: "Noto Serif KR", serif;
	}

	.home { 
		-ms-overflow-style: none; 
	} 

	.home::-webkit-scrollbar { 
		display: none; 
	} 

	/* ------------------ 소개 모바일 ------------------ */

	.mo {
		position: relative;
		top: -3px;
		right: -4px;
		margin-top: 2px;
		margin-bottom: -22px;
	}

	.intro .kr {
		top: 0;
		left: 40%;
		width: 60%;
	  font-family: "Noto Serif KR", serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 22px;
	  letter-spacing: 1px;
	}

	.intro .kr .text {
	  font-size: 30px;
	  letter-spacing: 2px;
	}

	.intro .kr p {
	   line-height: 1.45;
	}

	.intro .kr article {
		margin-left: 16px;
	}

	.intro .kr h3 {
		margin-left: 0;
	}

	.intro .kr li {
		padding: 0 2px 0 2px;
	}

	.intro .en {
		width: 40%;
	}

	/* ------------------ 예술 모바일 ------------------ */

	.art figure {
		position: relative;
/*		border: 1px solid red;*/
		width: 80vw;
		display: inline-block;
		white-space: nowrap;
		overflow-y: scroll;
		pointer-events: none
	}

	.art img {
		width: 100%;
		height: auto;
	}

	.ccgg figure {
		height: 50%;
	}

	.cgg img {
		height: 100%;
	}

	.ccgg .desc{
		position: absolute;
		width: 80vw;
		height: 30%;
		top: 50%;
		right: 49px;
/*		border: 1px solid yellow;*/
		flex-direction: column;
	}

	.art .capt .mo {
		top: -6px;
		right: -12px;
		margin-top: 2px;
		margin-bottom: -16px;
	}
/*
	.art article {
		writing-mode: horizontal-tb;
		flex-direction: column;
		width: 100%;
		height: 100%;
		border: 1px solid yellow;
		padding-right: 60px;
		overflow-x: hidden;
	}

	.art header {
		position: absolute;
		top: 10px;
		writing-mode: vertical-rl;
		border: 1px solid green;
	}

	.art h2 {
		font-size: 16px;
	}

	.art figure {
		display: inline-block;
		white-space: nowrap;
		width: 100%;
		height: 50svh;
		border: 3px solid blue;
	}

	.art img {
		width: 100%;
		height: auto;
	}

	.art .desc {
		top: 10px;
		left: 0;
		width: 100%;
		height: 50svh;
		writing-mode: vertical-rl;
		border: 1px solid red;
		overflow-x: auto;
		flex-direction: column;
		overflow-y: hidden;
	}*/

	.art .kr {
	  	font-family: "Noto Serif KR", serif;
	  	letter-spacing: 1px;
	}

	.art .desc .kr {
	  	margin-left: 16px;
	}

	.art cite {
		margin-top: -1px;
		padding-bottom: 3px;
	}

	.art .mo {
		position: relative;
		top: 0px;
		right: -2px;
		margin-top: 0px;
		margin-bottom: -10px;
	}

	.art .capt .mo {
		position: relative;
		top: 1px;
		right: -2px;
		margin-top: 0px;
		margin-bottom: -12px;
	}

	.art .ur {
		margin-bottom: 10px;
	}

	/* ------------------ 웹사이트 모바일 ------------------ */

	.website .kr {
		height: 25%;
		overflow-x: auto;
	}

	.website .screen {
		top: 25%;
		height: 55%;
	}

	.website .en {
		top: 80%;
		height: 20%;
		overflow-y: auto;
	}

	.website .en {
		align-items: flex-start;
	}

	.website .kr ul {
		justify-content: flex-start;
	  	font-family: "Noto Serif KR", serif;
	  	letter-spacing: 1px;
	}

	/* ------------------ 대화 모바일 ------------------ */

	.talk .kr p {
	  	font-family: "Noto Serif KR", serif;
	  	letter-spacing: 1px;
	}

	.talk .ur {
		margin-bottom: 16px;
	}
	
	/* ------------------ 쓰기 모바일 ------------------ */
	.writing .kr .title {
	  	font-family: "Noto Serif KR", serif;
	  	letter-spacing: 1px;
	}

	.writing .date {
		font-family: Times New Roman, serif;
		writing-mode: horizontal-tb;
		padding-bottom: 7px;
		padding-right: 8px;
	}

	.writing .dot {
		margin: 0 0;
	}
}


@media screen and (min-aspect-ratio: 6/1) {

	.home {
		flex-wrap: nowrap;
		justify-content: stretch;
	}

	.home section {
		height: 100svh;
	}
}
